@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #000000;
    color: white;
    /* font-family: ; */
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

*{
    box-sizing: content-box;
}



.text-stroke {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.2px white; /* Adjust the width and color as needed */
  }
  
  